:root > * {
  --md-typeset-a-color: #546d78;
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
  --md-footer-bg-color: rgb(84, 109, 120);
  --md-footer-bg-color--dark: blue grey;
}
